@import "../../../scss/box.scss";

.login-card {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);

  min-width: 357.33px;

  &_mew {
    padding: 3rem 2.5rem;
    transition: 0.3s;
  }
  p {
    color: $primary;
    font-size: 14px;
  }
  &_input,
  button {
    border: 2px solid $primary;
    border-radius: 50px;
    padding: 1rem;
    transition: 0.3s;
  }
  &_input {
    &:focus {
      border: 2px solid $primary !important;
      outline: none;
    }
  }
  button {
    background-color: $primary;
    &:hover {
      background-color: lighten($color: $primary, $amount: 3);
    }
  }

  .p_email {
    font-size: 1.1rem;
    margin: 1.5rem 0 0 0;
    transition: color 0.3s ease, transform 0.3s ease;

    &:hover {
      cursor: pointer;
      color: lighten($primary, 5%);
      transform: scale(1.1);
    }
  }

  @media screen and (max-width: 400px) {
    & {
      width: 90%;
      min-width: 269.33px;
      left: 53%;

      &_mew {
        padding: 1rem 0.5rem;
      }

      p,
      ::placeholder,
      button {
        font-size: 12px;
      }

      p {
        margin: 0.7rem !important;
      }

      .p-email {
        font-size: 13px;
      }

      button {
        font-size: smaller;
        margin-bottom: 15px !important;
      }

      input,
      button {
        min-width: 200px;
        width: 200px;
        margin: 3px auto !important;
      }
    }
  }
}

.captcha {
  width: 85% !important;
  margin: auto !important;
  input {
    border: none;
    border-bottom: 1px solid $primary;
    border-radius: 0.5rem;
    margin: 1rem 0;
    outline: none;
    padding: 0.5rem;
    &::placeholder {
      font-size: 12px;
    }
  }
  div {
    border: none;
    box-shadow: none;
    margin: auto;
  }
  .btn {
    box-shadow: none !important;
    color: $primary;
    font-weight: bold;
    text-align: left;
    &:hover {
      cursor: auto;
    }
  }
}

.cap-btn {
  width: 70%;
}

/* screen  */

// .mobile {
//   display: none;
// }

// .laptop {
//   display: block;
// }

/* Show mobile view when screen width is 500px or less */
// @media only screen and (max-width: 500px) {
//   .mobile {
//     display: block;
//   }

//   .laptop {
//     display: none;
//   }
// }
