@import "../../../scss/box.scss";

.login-card {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);

  min-width: 357.33px;

  &_mew {
    padding: 3rem 2.5rem;
    transition: 0.3;
  }
  p {
    color: $primary;
    font-size: 14px;
  }
  &_input,
  button {
    border: 2px solid $primary;
    border-radius: 50px;
    padding: 1rem;
    transition: 0.3s;
  }
  &_input {
    &:focus {
      border: 2px solid $primary !important;
      outline: none;
    }
  }
  button {
    background-color: $primary;
    &:hover {
      background-color: lighten($color: $primary, $amount: 3);
    }
  }

  .p_email {
    font-size: 1.1rem;
    margin: 1.5rem 0 0 0;
    transition: color 0.3s ease, transform 0.3s ease;

    &:hover {
      cursor: pointer;
      color: lighten($primary, 5%); // Lighten the color by 20%
      transform: scale(1.1);
    }
  }

  @media screen and (max-width: 400px) {
    & {
      width: 90%;
      min-width: 269.33px;
      left: 53%;
      &_input {
        width: 190px !important;
        font-size: smaller;
      }
      button {
        font-size: smaller;
      }

      input,
      button {
        min-width: 200px;
      }
    }
  }
}

/* screen  */

.mobile {
  display: none;
}

.laptop {
  display: block;
}

/* Show mobile view when screen width is 500px or less */
@media only screen and (max-width: 500px) {
  .mobile {
    display: block;
  }

  .laptop {
    display: none;
  }
}
