@import "../../../../../../scss/box.scss";

.ballot-time {
  padding-right: 7% !important;
  padding-bottom: 3.5rem;

  .set-ballot {
    padding: 1rem 2rem;
    font-size: 14px;
    font-weight: bold;
    color: $primary;

    svg,
    icon {
      color: $secondary;
    }
  }

  .expend-end {
    button {
      margin: 0;
    }
  }

  input {
    height: 2rem;
  }

  button {
    @include button();
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    width: 11rem;
    height: 2.1rem;
    margin: 1rem 0;

    &:hover {
      @include button($primary, $primary, white, 2rem);
    }
  }
}
