@import "../../../../../../scss/box.scss";

.ballot-time {
  padding-right: 22% !important;
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;

  .set-ballot {
    padding: 1rem 2rem;
    font-size: 14px;
    font-weight: bold;
    color: $primary;

    svg,
    icon {
      color: $secondary;
    }
  }
}
