@import "../../../../../scss/box.scss";

.chart {
  padding-right: 20% !important;
  padding-top: 3%;

  &_chart {
    max-width: 30rem;
    margin: auto;
  }

  .voterCount {
    margin-right: 5rem;
  }
}

.candidate-chart {
  .green-bar {
    fill: $accept;
  }

  .blue-bar {
    fill: $secondary2;
  }

  .red-bar {
    fill: $red;
  }
}

.doc-voter-result {
  margin: auto;
  padding-top: 7rem !important;

  .doc-title {
    display: none;
  }
}
.button {
  margin: auto 3rem;
  @include button();
  border-radius: 3rem !important;
  width: 12rem;
  height: 2.5rem;
}

.doc-btn {
  margin-top: auto;
  margin-right: 2rem;
}
