@import "../../../../../scss/box.scss";

.chart {
  padding-right: 20% !important;
  padding-top: 3%;

  &_chart {
    max-width: 30rem;
    margin: auto;
  }
}

.candidate-chart {
  .green-bar {
    fill: $accept;
  }

  .blue-bar {
    fill: $secondary2;
  }

  .red-bar {
    fill: $red;
  }
}

.doc-voter-result {
  margin: auto;
  padding-top: 7rem !important;

  .doc-title {
    display: none;
  }
}
