@import "../../../../scss/box.scss";

.candidate-panel {
  padding-right: 20% !important;
  .candidate-detail-panel {
    .profile-pic {
      position: relative;

      img {
        width: 7rem;
        height: 7rem;
        object-fit: cover;
      }

      .image-overlay {
        position: absolute;
        width: 1.5rem;
        height: 1.5rem;
        bottom: 0px;
        right: 55px;
        background: #fff;
        border: 1px solid #ddd;
        border-radius: 50%;
        padding: 4px;

        .icon {
          color: $primary;
          height: 1.5rem;
        }
      }
    }

    .label {
      font-weight: bold;
      color: $primary;
    }

    .value {
      color: $primary;
    }

    .action-icon {
      font-size: 1.2rem;
      color: $secondary;
      cursor: pointer;
      transition: color 0.3s;

      &:hover {
        color: $primary;
      }
    }
  }

  &_video-file {
    background: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    button {
      @include button(white, $secondary, $secondary, 2rem);
      width: 10rem;
      height: 2rem;
      margin: 1rem;
      font-weight: bold;
      transition: all 0.3s ease;

      &:hover {
        @include button($secondary, $secondary, white, 1.5rem);
      }
    }
  }

  video {
    max-width: 20rem;
  }

  &_desc {
    h5,
    p {
      color: $primary !important;
      font-weight: bold;
    }
    .desc-title {
      font-size: 1.25rem;
      font-weight: 600;
      border-bottom: 1px solid #ddd;
      padding-bottom: 0.5rem;
    }

    .desc-text {
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.6;
      text-align: justify;
      margin: 0;
    }

    .card-body {
      padding: 1.5rem;
    }
  }
}
