@import "../../../../scss/box.scss";

.candidate-panel {
  .manage-course-header {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;

    .header-title {
      font-size: 1.2rem;
      font-weight: bold;
      text-align: right;
    }

    .icon {
      text-align: center;
      color: #555;
    }
  }

  .candidate-detail {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;

    .profile-pic {
      position: relative;

      img {
        width: 7rem;
        height: 7rem;
        object-fit: cover;
      }

      .image-overlay {
        position: absolute;
        width: 1.5rem;
        height: 1.5rem;
        bottom: 0px;
        right: 55px;
        background: #fff;
        border: 1px solid #ddd;
        border-radius: 50%;
        padding: 4px;

        .icon {
          color: $primary;
          height: 1.5rem;
        }
      }
    }

    .label {
      font-weight: bold;
      color: $primary;
    }

    .value {
      color: $primary;
    }

    .action-icon {
      font-size: 1.2rem;
      color: $secondary;
      cursor: pointer;
      transition: color 0.3s;

      &:hover {
        color: $primary;
      }
    }
  }
}
