@import "../../../../../../scss/box.scss";

.addGroup {
  padding-right: 22% !important;
  padding-top: 3.5rem;

  .voterGroupHeader {
    font-size: 15px;
  }

  textarea {
    background-color: $gray-form;
    border: none;
    border-radius: 1.5rem;
    max-width: 25rem;
  }

  button {
    @include button(white, $secondary, $secondary, 3rem);
    font-weight: bold;
    padding: 0.3rem 1rem;
    font-size: 13px;
  }

  &_btn-container {
    max-width: 25rem !important;
    justify-content: space-around;
  }

  &_submit {
    max-width: 25rem;
    display: flex;
    justify-content: flex-end;
  }
}
