@import "../../../../scss/box.scss";

.ticketAdd {
  margin-top: 8rem;

  input {
    @media screen and (min-width: 768px) {
      margin-right: 1rem !important;
    }
  }

  textarea {
    border: 2px solid $primary;
  }

  .select-container {
    width: 100%;
  }

  .select {
    margin: auto;
  }

  .css-13cymwt-control,
  .css-t3ipsp-control {
    z-index: 10;
    border: 2px solid $primary;
    border-radius: 50px;
    padding: 0.75rem;
    transition: 0.3s;
    width: 85%;

    &:hover {
      border: 2px solid $primary;
    }
  }

  .css-1u9des2-indicatorSeparator {
    display: none;
  }

  .css-tj5bde-Svg {
    color: $primary;
  }

  .btn-container {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;

    .submit,
    .upload {
      width: 10rem;
      height: 2rem;
      margin: 1rem;
    }

    .submit {
      @include button(white, $primary, $primary, 1rem);
      transition: all 0.3s ease-in;

      &:hover {
        @include button(white, $primary, $primary, 0.6rem);

        transform: scale(1.08);
      }
    }

    .upload {
      @include button($primary, $primary, white, 1rem);
      transition: all 0.3s ease-in;

      &:hover {
        @include button($primary, $primary, white, 0.6rem);
        transform: scale(1.08);
      }
    }
  }

  @media screen and (max-width: 500px) {
    .css-13cymwt-control,
    .css-t3ipsp-control {
      padding: 0;
    }

    .input {
      padding: 0.5rem !important;
    }
  }
}
