@import "../../../../../scss/box.scss";

.voterGroupManage {
  padding-right: 22% !important;
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;

  .voterGroupHeader {
    font-size: 17px;
  }

  .button-voterGroup {
    margin-top: 2rem;
    &_right {
      @include button($secondary, $secondary, transparent, 2rem);
      transition: all 0.3s ease-in;
      padding: 0.4rem 0.75rem;
      font-weight: bold;
      &:hover {
        @include button(white, $secondary, $secondary, 2rem);
        transform: scale(1.1);
      }
    }
    &_left {
      @include button(white, $secondary, $secondary, 2rem);
      transition: all 0.3s ease-in;
      padding: 0.4rem 0.75rem;
      font-weight: bold;
      &:hover {
        @include button($secondary, $secondary, transparent, 2rem);
        transform: scale(1.1);
      }
    }
  }

  .header-voter {
    p {
      color: $primary;
      font-weight: bold;
      display: inline;
      transition: all 0.3s ease-in;

      &:hover {
        cursor: pointer;
        transform: scale(1.1);
        filter: drop-shadow(0 4px 2px rgba(0, 0, 0, 0.3));
      }
    }
    .icon {
      color: $primary;
      font-size: 1.3rem;
    }

    &_search-bar {
      position: relative;
      input {
        background-color: $gray-form;
        border: 3px solid white;
        border-radius: 2rem;
        font-weight: bold;
        padding: 0.5rem;
        width: 80%;
        box-shadow: 0 4px 3px 0px rgba($color: #00000044, $alpha: 0.1);
      }

      .icon {
        position: absolute;
        top: 0.7rem;
        left: -24%;
      }
    }
  }

  .delete-icon,
  .edit-icon {
    font-size: 1rem;
    margin: 0.1rem;
    &:hover {
      color: $secondary;
      cursor: pointer;
    }
  }
}
