@import "../../../scss/box.scss";

.profile-page {
  width: 100%;
  margin: 8rem auto 18rem !important;
  padding: 0px !important;

  .warper {
    width: 100%;
    margin: 0px 0px 10px 0px !important;
    text-align: center;
    h2 {
      color: $primary;
      font-size: 15px;
      font-weight: bold;
    }
  }

  img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid $primary;
  }

  .text-container {
    .prfl {
      display: flex;
      p {
        padding: 0 0.5rem;
        color: $primary;
        margin: 0;
      }
      svg {
        color: $primary;
      }
    }

    .phone {
      transform: rotate(90deg);
    }
  }
  .icon {
    width: 45px;
    height: 45px;
    color: $primary;
    background-color: $primary;
    border-radius: 50%;
    padding: 0.6rem;

    .i {
      color: white;
    }
  }
  &_field {
    width: 400px;
    height: 350px;
    display: flex;
    justify-content: center;
    margin: auto !important;
    text-align: center;
    padding-top: 1rem;
    &_btn {
      button {
        @include button($primary, $primary, transparent, 3rem);

        width: 334px;
        height: 50px;
        padding: 0px 12px;
        margin: 7px auto;
        text-align: start;
        tr &:hover {
          cursor: pointer;
        }
      }

      &_icon {
        color: $primary;
        width: 20px;
        height: 20px;
        position: relative;
        left: 2.5rem;
      }
    }
  }
  @media screen and (max-width: 400px) {
    margin: 6rem auto 10rem !important;

    h2,
    p {
      font-size: 13px !important;
    }
    &_field {
      width: 80% !important;

      &_btn {
        width: 80%;
      }
      button {
        width: 90%;
        font-size: 13px;
      }
    }
  }
}
