@import "../box.scss";

.my-elections {
  padding: 7rem 0rem 6rem 0rem;
  margin: auto !important;
  max-width: 1000px;
  align-items: center !important;

  .status-not-started {
    @include box-color($secondary);
  }
  .status-in-progress {
    @include box-color($accept);
  }
  .status-expired {
    @include box-color(gray);
  }
  .status-ended {
    @include box-color($danger);
  }
  .status-unknown {
    @include box-color($primary);
  }

  .box {
    max-width: 540px;
    margin: auto;
    position: relative;

    transition: all 0.3s ease-in-out;
    &:hover {
      filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.2));
      transform: scale(0.95);
      cursor: pointer;
    }

    img {
      max-width: 2rem;
      margin-right: 0.5rem;
      transition: all 0.3s ease-in-out;
      &:hover {
        filter: none !important;
        transform: scale(0.95);
        cursor: pointer;
      }
    }

    .bottom {
      display: flex;
      align-items: center;
      margin-right: 10px;
      .info-p {
        font-size: 0.9rem;
        margin: 0;
      }
      .icon-info {
        font-size: 1.2rem;
        margin-right: 0.5rem;
        margin-left: 7px;
      }
      .remaining-time {
        position: absolute;
        background-color: $secondary;
        color: white;
        font-size: 12px;
        max-width: 6rem !important;
        border-radius: 5rem;
        right: 70% !important;
        bottom: 0.4rem;
      }
    }

    .icon-box {
      font-size: 2rem;
    }

    .election-logo {
      width: 2rem;
      padding-left: 0.5rem;
    }

    .invisiblee {
      display: none;
    }

    @media screen and (min-width: 450px) {
      .bottom {
        margin-bottom: 0.5rem;
      }
    }

    @media screen and (max-width: 450px) {
      h6 {
        font-size: smaller;
      }
      p {
        margin: 0;
        font-size: smaller;
      }
      .info-p {
        font-size: 0.9rem;
      }

      .icon-left {
        font-size: 1rem;
      }
      .icon-box {
        font-size: 1.5rem;
      }
      .icon-info {
        font-size: 1rem;
      }
      .bottom {
        display: flex;
        padding: 10px;
      }
    }
    @media screen and (max-width: 380px) {
      p,
      h6,
      .info-p {
        font-size: 12px !important;
      }
      .middle {
        .col-1 {
          display: none;
        }
      }

      .visiblee {
        display: none;
      }

      .invisiblee {
        display: inline !important;
        font-size: 10px;
      }

      .bottom {
        display: flex;
        padding: 10px;
      }
    }
  }
  @media screen and (max-width: 380px) {
    padding-top: 5rem !important;
  }
}
