@import "../../../../scss/box.scss";

.ticket-edit {
  width: 100%;
  margin: 8.5rem 0;
  background-color: $purple-light;
  border-top-left-radius: 7rem;
  border-top-right-radius: 7rem;
  max-width: 40rem !important;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center horizontally */

  p {
    font-weight: bold;
    color: $primary;
    padding-top: 2rem;
  }
  .mb-4 {
    width: 90%;
    margin-right: 3.8rem;

    input {
      border: 2px solid #6a5ae0;
      border-radius: 50px;
      padding: 1rem;
      transition: 0.3s;
      width: 85%;
      margin: auto;
      &:focus {
        border: 2px solid #6a5ae0 !important;
        outline: none;
      }

      @media screen and (max-width: 400px) {
        width: 85% !important;
        font-size: smaller;
      }
    }

    label {
      display: block;
      //   margin-right: 3rem;
      margin-bottom: 0.35rem;
      color: $primary;
      font-weight: 700;
    }
  }

  textarea {
    width: 78%;
    min-height: 150px;
    resize: vertical;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-sizing: border-box;
    font-size: 16px;
    margin: 0 auto; /* Center horizontally */
    display: block; /* Ensure block-level element */
  }
  .p_text {
    margin: 0rem 0rem 1.5rem 0rem;
  }
  .c-img {
    padding: 0px !important;
  }
  img {
    width: 88%;
    height: auto;
    border-radius: 20px;
  }
}
