@import "../../../scss/box.scss";

.membership-container {
  position: absolute;
  z-index: 1000;
  top: 0;
  .membership-box {
    border: 2px solid $primary;
    padding: 2.3rem 1.8rem;
    border-radius: 1rem;
    text-align: center;
    .col-6 {
      padding: 0 5px !important;

      button {
        border-radius: 3rem;
        color: $primary;
        border: 2px solid $primary;
        background-color: #fff;
        padding: 8px 10px;
        width: 98px;
        cursor: pointer;
        font-weight: bold;

        .svg-no {
          font-size: 1.3rem;
          stroke-width: 8px;
        }
        .svg-no,
        .svg-yes {
          margin-right: 8px;
        }
      }
      button:hover {
        background-color: $secondary;
        color: #fff;
        transition: all 0.3s ease-in-out;
      }
    }
  }

  p {
    color: $primary !important;
    margin-bottom: 2.3rem !important;
    font-weight: bold;
  }
}
