@import "../../../../scss/box.scss";

.profile-edit-page {
  .head {
    position: absolute;
    z-index: 100;
  }

  .profile-edit {
    margin: 7rem auto;

    &_img {
      position: relative;
      margin: 2rem auto;
      width: 190px !important;

      .icon {
        position: absolute;
        font-size: 3rem;
        color: $primary;
        background-color: white;
        padding: 0.7rem;
        border-radius: 50%;
        border: 1px solid $primary;
        bottom: -0.4rem;
        left: 1.2rem;
        transition: 0.3s;

        &:hover {
          cursor: pointer;
          color: white;
          background-color: $primary;
          transform: scale(1.1);
        }
      }

      img {
        width: 150px;
        height: 150px;
        object-fit: cover;
        border: 3px solid $primary;
      }
    }

    &_field {
      .active {
        @include button(white, white, $primary, 1.5rem);
        box-shadow: 0 4px 2px rgba($color: #000000, $alpha: 0.1);
        // transition: all 0.3s ease-in-out;

        .icon {
          transform: rotate(-90deg);
          transition: all 0.3s ease-in-out;
        }
      }
      button {
        border: 2px solid $primary;
        border-radius: 1.3rem;
        text-align: start;
        padding: 3px 25px;
        width: 70%;
        height: 60px;
        color: $primary;
        font-weight: bold;
        background-color: #fff;
        margin: 8px 0;
        position: relative;
        p {
          margin: 0px;
        }

        .icon {
          position: absolute;
          left: 0.5rem;
          top: 37%;
        }
      }
    }

    &_btn {
      button {
        width: 15rem;
        height: 2.5rem;
        margin: 4rem auto 1rem auto;
        transition: all 0.3s ease-in;
        @include button(white, $primary, $primary, 1rem);

        &:hover {
          border-radius: 0.5rem;
          transform: scale(1.1);
        }
      }
    }
  }
}
