@import "../box.scss";

.header {
  width: 100%;
  position: fixed;
  top: -5rem;

  filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.25));

  .path {
    position: relative;
    z-index: 0;
    background-color: #6a5ae0;
    height: 12rem;
    width: 120%;
    top: -0.9rem;
    left: 10%;
    border-radius: 70%;
  }

  h2 {
    color: white;
    position: absolute;
    z-index: 1;
    bottom: 3rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.2rem;

    @media screen and (max-width: 360px) {
      font-size: 1rem;
      top: 0.8rem;
    }
  }

  @media screen and (min-width: 1300px) {
    svg {
      position: relative;
      top: -13rem;
      z-index: -1;
    }
  }

  @media screen and (max-width: 1299px) and (min-width: 1000px) {
    svg {
      position: relative;
      top: -8.9rem;
      z-index: -1;
    }
  }

  @media screen and (max-width: 999px) and (min-width: 771px) {
    svg {
      position: relative;
      top: -5.2rem;
      z-index: -1;
    }
  }

  @media screen and (max-width: 771px) and (min-width: 550px) {
    svg {
      position: relative;
      top: -3rem;
      z-index: -1;
    }
  }

  @media screen and (max-width: 549px) {
    svg {
      position: relative;
      top: -100%;
      z-index: -1;
    }
  }
}

.navbarr {
  display: flex;
  justify-content: space-around;
  position: fixed;
  left: 1rem;
  right: 1rem;
  top: 85svh;
  background-color: $primary;
  border-radius: 20rem;

  border: 3px solid white;
  filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.25));

  .icon-container {
    width: 20%;
    color: white !important;
    transition: all 0.3s ease-in-out;
    &:hover,
    &:active {
      transform: scale(1.1);
    }

    .add {
      margin-left: 7px !important;
    }
    .profile {
      margin-top: 7px;
      font-size: 3.5rem;
    }
    p {
      font-size: 0.5rem;
    }
    .icon {
      font-size: 1.5rem;
    }

    &:hover {
      cursor: pointer;
      filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.35));
    }
    &:active {
      filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.1));
    }
  }
}
