@import "../../scss/box.scss";

.signUp_card {
  .input {
    width: 75%;
    padding: 0.5rem;
    border-radius: 20px;
    border: 2px solid $primary;
  }
  .test {
    display: flex;
    justify-content: center;

    .text {
      position: absolute;
      left: 5.5rem;
      top: 19rem;
    }
    .text-2 {
      position: absolute;
      left: 5.5rem;
      top: 23.5rem;
    }
    svg {
      font-size: 1.3rem;
      color: $primary;
    }
    @media screen and (max-width: 890px) {
      .text {
        left: 4.3rem !important;
        top: 19.2rem !important;
      }
      .text-2 {
        left: 4.5rem !important;
        top: 23.5rem !important;
      }
    }
    @media screen and (max-width: 400px) {
      .text {
        left: 23% !important;
        top: 18.3rem !important;
      }
      .text-2 {
        left: 23% !important;
        top: 22.4rem !important;
      }
    }
    @media screen and (max-width: 340px) {
      .text {
        left: 3.7rem !important;
        top: 18.3rem !important;
      }
      .text-2 {
        left: 3.7rem !important;
        top: 22.4rem !important;
      }
    }
  }
}
