@import "../../scss/box.scss";

.signUp_card {
  padding: 2rem 1rem !important;
  max-width: 500px !important;

  .input {
    width: 75%;
    padding: 0.5rem;
    margin-bottom: 9px;
    border-radius: 20px;
    border: 2px solid $primary;
    max-width: 375px !important;
  }

  .text-danger {
    font-size: 12px !important;
    max-width: 375px !important;
    margin: auto;
    padding-bottom: 5px;

    @media screen and (max-width: 400px) {
      font-size: 11px !important;
      margin: 3px auto !important;
      max-width: 200px !important;
    }
  }

  .pwd {
    position: relative;
    svg {
      position: absolute;
      left: 17%;
      top: 0.8rem;
      font-size: 1.3rem;
      color: $primary;
    }
  }
}
