@font-face {
  font-family: "Samim";
  src: local("Samim"), url(../font/Samim.ttf) format("truettype");
  font-family: "Samim-Bold";
  src: local("Samim-Bold"), url(../font/Samim-Bold.ttf) format("truettype");
}

* {
  font-family: Samim;
}

.body {
  height: 100svh;
  overflow-y: hidden;
}

.scroll {
  overflow-y: auto;
}

.ltr {
  direction: ltr;
  text-align: center;
}
