$danger: #a6151a;
$accept: #3cb764;
$primary: #6a5ae0;
$secondery: #ed9e00;
$blue: #2e82ff;

@mixin box-color($color: $primary) {
  margin: 1rem 0.5rem;
  border-radius: 4.75rem;
  border: 3px solid $color;
  p {
    color: $primary;
  }
  .icon {
    color: $color;
  }
  .icon-left {
    color: $primary;
    font-size: 1.5rem;
    margin-right: -1rem;
  }
  .info-p {
    color: $color;
  }
  .icon-left {
    color: $primary;
  }
  h6 {
    color: $color;
    padding-right: 10px;
  }
}

@mixin ballot(
  $color-status: $primary,
  $color-active: $primary,
  $color-unActive: white
) {
  padding: 0.5rem;

  .ballot {
    border: 3px solid $color-active;
    background-color: $color-unActive;
  }
  .ballot_vote {
    width: 4.2rem;
    height: 4.2rem;
    border-radius: 50%;
    background-color: $color-status;

    p {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 0.85rem;
    }
  }

  .ballot_icon,
  .ballot_title,
  .detail {
    color: $color-active;
  }

  .ballot_view {
    color: $secondery;
  }

  .ballot_button {
    button {
      background-color: $secondery;
      border: none;
      border-radius: 20px;
    }
  }
}

@mixin table($color: $primary) {
  thead {
    background-color: $primary;
  }

  td {
    color: $color;
  }
}
